@import "~react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Helvetica;
  src: url("/Helvetica.ttf");
}
body {
  font-family: "Open Sans, Helvetica, sans-serif";
}
.ql-editor {
  min-height: 425px;
}

/* tooltip */
.tooltip:before {
  background: #e77c01;
  color: white;
}

button.image-gallery-thumbnail {
  height: 69px !important;
  overflow: hidden !important;
  border: 2px solid;
}

.image-gallery-slide.image-gallery-center {
  position: relative !important;
  overflow: hidden !important;
}

.image-gallery-image {
  object-fit: cover !important;
  object-position: top !important;
}

/* tooltip */
.tooltip:after {
  border-color: #e77c01 transparent transparent transparent;
}

.range {
  --range-shdw: #e77c01;
}
/* image gallery */
.image-gallery-right-nav .image-gallery-svg {
  height: 75px;
  border-radius: 12px 0 0 12px;
  width: 21px;
}
pre.ql-syntax {
  text-wrap: wrap;
}
/* image gallery */
.image-gallery-left-nav .image-gallery-svg {
  height: 75px;
  border-radius: 0 12px 12px 0;
  width: 21px;
}

.image-gallery-slide .image-gallery-image {
  width: 100%;
  -o-object-fit: contain;
  object-fit: cover;
  height: 100%;
}

/* ========== swiper ===== */
.swiper-button-prev:after {
  font-size: 12px !important;
  transition: all;
  transition-duration: 300ms;
  transition-delay: 300ms;
}
.swiper-button-next:after {
  font-size: 12px !important;
  transition: all;
  transition-duration: 300ms;
  transition-delay: 300ms;
}
.swiper-button-prev {
  left: 0 !important;
  background-color: white;
  border-top-right-radius: 20px;
  transition: all;
  transition-duration: 300ms;
  transition-delay: 300ms;
  height: 32px !important;
  border-bottom-right-radius: 20px;
}
.swiper-button-next {
  right: 0 !important;
  background-color: white;
  transition: all;
  transition-duration: 300ms;
  transition-delay: 300ms;
  height: 32px !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
/* ========== swiper ===== */

::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(226, 225, 225);
}

::-webkit-scrollbar:horizontal {
  height: 8px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(172, 172, 172);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(126, 125, 125);
  border-radius: 10px;
}

/* react quill h tags */

.blog-body h1 {
  font-size: 34px;
}

.blog-body h2 {
  font-size: 30px;
}

.blog-body h3 {
  font-size: 24px;
}

.blog-body h4 {
  font-size: 20px;
}

.blog-body h5 {
  font-size: 18px;
}

.blog-body h6 {
  font-size: 16px;
}
